/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Header Styles */
header {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    font-size: 2rem;
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: right;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}

nav ul li a:hover {
    color: #ffc107; /* Yellow color on hover */
}

/* Main Section Styles */
main {
    padding: 40px 0;
}

section {
    margin-bottom: 40px;
}

section h2 {
    font-size: 2rem;
}

/* Form Styles */
form {
    max-width: 400px;
    margin: 0 auto;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    background-color: #343a40;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #23272b;
}

/* Room Styles */
.room {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
}

.room h3 {
    margin-top: 0;
}

/* Availability Styles */
.availability-result {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
}

.available {
    background-color: #dff0d8; /* Green background for available rooms */
}

.not-available {
    background-color: #f2dede; /* Red background for not available rooms */
}

/* test */

/* General styles for the form */
#booking-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Styles for form labels */
#booking-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Styles for form inputs */
#booking-form input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

/* Styles for the submit button */
#booking-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Hover effect for the submit button */
#booking-form button:hover {
    background-color: #0056b3;
}

